body, html{
  height:100%;
}
body{
  margin: 0px;
  /*background-color:#444;*/
  font-size: 18px;
  background-image: url("img/kitchen.jpg");
  background-repeat:  no-repeat;
  background-size: 1280px auto;
  

}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  /*border:10px solid red;*/
  /*border-radius:10px;*/
  position:absolute;
}


.jumpingClass {
  top: 400 px;
}

.position-floor{
  position: absolute;
  bottom: 15vh;
  border: 30px red solid;
  left: 100px;
}

#onion:hover{
  transition: 0.70s;
  transform: rotate(1800deg);  

}

.rotate:hover{
  transition: 0.70s;
  transform: rotate(1800deg);  

}


  

.zoom:hover{
  transition: transform 0.4s;
  transform: scale(1.4);
}


#carrot:hover{
  transition: transform 0.5s;
  transform: scale(1.6);
}


@keyframes #carrot {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/*.lineUP{
  top:500px;
}*/